@import "tailwindcss";

@font-face {
  font-family: 'Montserrat';
  src: url('./montserrat.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Coriolis';
  src: url('./coriolis.otf');
  font-weight: normal;
  font-style: normal;
}

@theme {
    --font-serif: 'Coriolis', serif;
    --font-sans: 'Montserrat', sans-serif;
}
